.app-header {
    background-color: var(--clr1bg);
    border-bottom: 1px solid #ddd;
    padding: 0.75rem 1.5rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }
}

.header-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.app-nav {
    display: flex;
    gap: 1rem;
}

.app-nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.app-nav a.active {
    color: #007bff;
}


.app-nav {
    display: flex;
    gap: 15px;
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}